---
layout: default
title: About Leah Segal
---

<style>
  .post-featuredImage{
    top: -20%;
  }

  @media (max-width: 767px){
    .post-featuredImage{
    top: -20%;
    margin-left: 250px;

  }
  }
</style>

<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/leahBioImg.jpg"  alt="An image of me">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>{{site.author.name}}</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              Tangles & Twists' Founder
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>About</h4>
        <p>From a young age I have always harbored the urge to create. Whether it be sewing homemade dresses, sketching out botanical drawings, or glazing endless pottery pieces  I've come to realize there is no greater sense of happiness than seeing a physical manifestation of my passion come to fruition.</p>

		<p>So, when I was first introduced to macramé , I knew I wanted to try and make pieces that I could share with other people. The joy that I receive from creating wall hangings, purses, and everything in between is something that I knot into every part of my work. And as I start this new journey into blogging, I look forward bringing a little bit of happiness into the lives of my customers and followers!</p>
        
        <h4>Favorite Books & Works of Literature</h4>
        <ul>
          <li>"The Joy Luck Club" - Amy Tan</li>
          <li>"As I Lay Dying" - William Faulkner</li>
          <li>"The Canterbury Tales" - Geoffrey Chaucer</li>
          <li>"Alice in Wonderland" - Lewis Carroll</li>
          <li>"Girl in Translation" - Jean Kwok</li>
        </ul>
        
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
